.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  .form {
    width: 60%;
    .insitingText {
      display: inline-block;
      color: #1900d5;
      margin-left: 5px;
      cursor: pointer;
    }
  }
}
